.bottmNavigation{nav {
  background: rgba(0, 0, 0, 0.3);
  padding: 0.7rem 1.7rem;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  backdrop-filter: blur(15px);
  width: 100%;   
}

nav a {
  background: transparent;
  padding: 0.9rem;
  border-radius: 50%;
  display: flex;
  color: var(--color-light);
  font-size: 1.1rem;
}

nav a:hover {
  background: rgba(75, 73, 73, 0.54);
}

nav a.active {
  background: var(--color-primary);
  color: var(--color-white);
}
}